.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f3f3f;
  padding: 10px 0;
}

.navbar a {/* // a is the tag for anchor elements*/
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
