/* tower-of-hanoi.component.css */
.container {
  display: flex;
  justify-content: space-around;
}

.tower-container {
  width: 200px;
  height: 300px;
  border: 1px solid;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  justify-content: space-around;
}

.disk {
  width: fit-content;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.example-box:last-child {
  border: none;
}
